<div class="row">
  <div class="span8 offset2">
    <h1 id="title">Games in Backbone.js</h1>
    <div class="nav-links">
      <ul>
        <li><a href="#hangman">Hangman</a></li>
        <li><a href="#tictactoe">Tic Tac Toe Flow</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="main-container">
</div>

<div class="row">
  <div id="canvas-container"></div>
</div>
