<div class="pure-g">
  <h1 id="title">Games in Backbone.js</h1>
  <div class="pure-u-1-1 nav-links">
    <ul>
      <li><a href="#hangman">Hangman</a></li>
      <li><a href="#tictactoe">Tic Tac Toe Flow</a></li>
    </ul>
  </div>
</div>

<div id="container"></div>

<div id="canvas-container"></div>
