{{display}}

<form id="guess-form">
  <input type="text" name="guess" id="new_letter_guess">
  <input type="submit" value="Guess">
</form>

<ul>
{{#each guessedLetters}}
  <li>{{this}}</li>
{{/each}}
</ul>
