<div class="pure-u-1-1">
  <div id="display">
    <p>{{display}}</p>
    <p>{{underscores}}</p>
  </div>

  <div>
    <span id="already-guessed-error">Already guessed</span>
    <form id="guess-form" class="pure-form">
        <input type="text" name="guess" id="new_letter_guess">
        <input type="submit" value="Guess"class="pure-button" id="letter-submit">
    </form>
  </div>

  <ul id="guessed-letters">
  {{#each guessedLetters}}
    <li>{{this}}</li>
  {{/each}}
  </ul>

  <p id="result-message"></p>
</div>
