<div class="pure-g">
  <div class="pure-u-1-1 board">

    <div class="pure-u-1-1">
      <ul class="row">
        <div class="square" id="top-left"></div>
        <div class="square" id="top-middle"></div>
        <div class="square" id="top-right"></div>
      </ul>

      <ul class="row">
        <div class="square" id="middle-left"></div>
        <div class="square" id="middle-middle"></div>
        <div class="square" id="middle-right"></div>
      </ul>

      <ul class="row">
        <div class="square" id="bottom-left"></div>
        <div class="square" id="bottom-middle"></div>
        <div class="square" id="bottom-right"></div>
      </ul>

    </div>
  </div>
