<div class="board span6 offset3">

  <ul class="board-row">
    <li><div class="square" id="top-left"></div></li>
    <li><div class="square inner-row" id="top-middle"></div></li>
    <li><div class="square" id="top-right"></div></li>
  </ul>

  <ul class="board-row">
    <li><div class="square" id="middle-left"></div></li>
    <li><div class="square inner-row" id="middle-middle"></div></li>
    <li><div class="square" id="middle-right"></div></li>
  </ul>

  <ul class="board-row">
    <li><div class="square" id="bottom-left"></div></li>
    <li><div class="square inner-row" id="bottom-middle"></div></li>
    <li><div class="square" id="bottom-right"></div></li>
  </ul>

  <div class="message" id="your-turn">Your turn</div>
  <div class="message" id="opponent-turn">Your turn</div>
  <div class="message" id="gregbot-thinking">Gregbot is thinking...</div>
  <div class="message" id="waiting-for-opponent">Waiting for opponent...</div>
  <div class="message" id="winner"></div>


</div>

<div id="buttons-after-win"></div>
