<div class="span10 offset1">
<div id="ttt-button-wrapper">
  <button id="ttt-human" class="ttt-start-button">
    Play against a human
  </button>

  <button id="ttt-gregbot" class="ttt-start-button">
    Play against Gregbot
  </button>
</div>
</div>

