#ttt-button-wrapper {
  margin-top: 15px;
}

.game-start-button {
  color: #34495E;
  background: linear-gradient(to bottom, #C0C0C0, white);
  font-size: 35px;
  padding: 20px;
  border: 0;
}

#winner {
  font-size: 30px;
  margin: 20px;
}

.message {
  display: none;
  text-align: center;
  margin-right: 25px;
  margin-top: 10px;
  font-size: 25px;
}

.board-row {
  margin-bottom: -5px;
  .inner-row {
    margin: 0 -15px;
  }
  .square {
    height: 125px;
    width: 125px;
    display: inline-block;
    border: 1px solid black;
  }
}
