@font-face {
  font-family: 'DroidSans';
  src: url('Droidsans.ttf') format('truetype');
}

body {
  font-family: 'DroidSans';
}

#container, #canvas-container {
  margin: auto;
  width: 960px;
  text-align: center;
}

#letter-submit {
  font-size: 20px;
  color: white;
  background-color: #34495E;
}

li {
  list-style: none;
  color: #BDC3C7;
  font-size: 20px;
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
}

#new_letter_guess {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  color: #BDC3C7;
  width: 118px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}

#display {
  margin-bottom: 30px;
  color: #BDC3C7;
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 1em;
  letter-spacing: 1em;
}

#guessed-letters {
  padding-left: 0;
}

#already-guessed-error {
  display: none;
  color: #C0392B;
  letter-spacing: 0em;
}

#result-message {
  letter-spacing: 0em;
  font-size: 30px;
  color: #7F8C8D;
  margin-bottom: 15px;
}

#word-was {
  letter-spacing: 0em;
  font-size: 30px;
  color: #7F8C8D;
  margin-top: 0px;
}

#canvas {
  margin-top: 20px;
  background-color: #E6E6E6;
}
