@font-face {
  font-family: 'DroidSans';
  src: url('Droidsans.ttf') format('truetype');
}

body {
  font-family: 'DroidSans';
}

.hangman-start-wrapper {
  text-align: center;
}

li {
  list-style: none;
  color: #BDC3C7;
  font-size: 20px;
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
}

.guess-form-wrapper {
  margin-top: 20px;
  text-align: center;
  #guess-form {
    input[type=text] {
      text-align: center;
      padding: 10px;
      font-size: 30px;
      color: #BDC3C7;
      width: 118px;
      display: block;
      margin: 0 auto;
      text-transform: uppercase;
    }
    input[type=submit] {
      width: 140px;
      padding: 8px 0;
      font-size: 20px;
      color: white;
      background-color: #34495E;
    }
  }
}

.display {
  text-align: center;
  margin-bottom: 30px;
  // margin-left: 10px;
  color: #BDC3C7;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1em;
  p {
    margin-left: 35px;
  }
}

#guessed-letters {
  text-align: center;
  padding-left: 0;
}

#already-guessed-error {
  text-align: center;
  display: none;
  color: #C0392B;
}

.hangman-result {
  text-align: center;
  #result-message {
    font-size: 30px;
    color: #7F8C8D;
    margin: 30px auto;
  }

  #word-was {
    font-size: 30px;
    color: #7F8C8D;
    margin-top: 0px;
  }
}


#canvas {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #E6E6E6;
}

#canvas-container {
  text-align: center;
}
